<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PROG1_PROYECTO_FINAL.Properties.Settings.sys_inventarioConnectionString"
            connectionString="Data Source=WILMER-LAPTOP;Initial Catalog=sys_inventario;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>